@model IEnumerable<ecommerce_csharp.Models.Sneaker>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="product-grid">
    @foreach (var s in Model)
    {
        <div class="product-card">
            <img src="@s.ImageUrl" alt="@s.Name" />

            <p class="product-name">@s.Name</p>
            <p class="product-price">R @s.Price</p>

            <form asp-controller="Cart" asp-action="Add" asp-route-id="@s.Id" method="post">
                <button type="submit" class="add-to-cart">
                    Add to Cart
                </button>
            </form>
        </div>
    }
</div>
